body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.job-hunt-container {
  margin: 10rem auto 0 auto;
  max-width: 1200px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* keep rows left-aligned */
  gap: 2rem; /* spacing between cards */
}

.application-card {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2rem;
}

/* .application-card:hover .application-card-content {
  background-color: black;
} */

.application-card-section {
  width: 100%;
}


.application-card-header {
  padding: 0.5rem 1rem;
  align-items: center;
}

.application-card-content {
  padding: 1rem;
  height: 100%;
}

.application-card-information {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
}

.application-status-open {
  background-color: lightblue;
}

.application-status-interviewing {
  background-color: lightgreen;
}

.application-status-rejected {
  background-color: rgb(247, 183, 183);
}

.add-application-card {
  min-width: 22rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}