body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.job-hunt-container {
  margin-top: 10rem;
  margin-left: 15rem;
  margin-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.application-card {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  align-items: stretch;
  width: 25rem;
  min-width: 20rem;
  max-width: 25rem;
}

.application-card-section {
  width: 100%;
}

.application-card-status {
  margin-top: 1rem;
}

.application-card-header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.application-card-information {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.application-status-open {
  background-color: lightblue;
}

.application-status-interviewing {
  background-color: lightgreen;
}

.application-status-rejected {
  background-color: rgb(247, 183, 183);
}