name: Deploy Application Tracker

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build & push API
        run: |
          docker build -t ghcr.io/mastodonus/application-tracker-api:latest ./api
          docker push ghcr.io/mastodonus/application-tracker-api:latest

      - name: Build & push Client
        run: |
          docker build -t ghcr.io/mastodonus/application-tracker-client:latest ./client
          docker push ghcr.io/mastodonus/application-tracker-client:latest

      - name: Initialize Environment (SSH)
        uses: appleboy/ssh-action@v0.1.7
        env:
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
          POSTGRES_DATABASE: ${{ secrets.POSTGRES_DATABASE }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          API_PORT: ${{ secrets.API_PORT }}
          API_JWT_SECRET: ${{ secrets.API_JWT_SECRET }}
          API_COOKIE_MAX_AGE: ${{ secrets.API_COOKIE_MAX_AGE }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          CLIENT_PORT: ${{ secrets.CLIENT_PORT }}
          EC2_PUBLIC_IP: ${{ secrets.EC2_PUBLIC_IP }}
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: |
            POSTGRES_HOST
            POSTGRES_PORT
            POSTGRES_DATABASE
            POSTGRES_USER
            POSTGRES_PASSWORD
            API_PORT
            API_JWT_SECRET
            API_COOKIE_MAX_AGE
            GOOGLE_CLIENT_ID
            CLIENT_PORT
            EC2_PUBLIC_IP
          script: |
            set -e

            # clean application folder
            APP_DIR=/home/ec2-user/application-tracker
            rm -rf $APP_DIR
            mkdir -p $APP_DIR
            cd $APP_DIR

            # Create .env variables
            cat > .env << EOF
            POSTGRES_HOST=db
            POSTGRES_PORT=$POSTGRES_PORT
            POSTGRES_DATABASE=$POSTGRES_DATABASE
            POSTGRES_USER=$POSTGRES_USER
            POSTGRES_PASSWORD=$POSTGRES_PASSWORD
            API_DOMAIN=$EC2_PUBLIC_IP
            API_PORT=$API_PORT
            API_JWT_SECRET=$API_JWT_SECRET
            API_COOKIE_MAX_AGE=$API_COOKIE_MAX_AGE
            GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID
            CLIENT_DOMAIN=$EC2_PUBLIC_IP
            CLIENT_PORT=$CLIENT_PORT
            EOF

            chmod 600 .env
            chown ec2-user:ec2-user .env

      - name: Copy docker-compose.yml
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.yml"
          target: "/home/ec2-user/application-tracker"

      - name: Start Application
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd /home/ec2-user/application-tracker

            # Shut down any running containers and prune
            docker-compose down --volumes --remove-orphans
            docker image prune -af

            # Pull latest and run
            docker-compose pull --env-file .env
            docker-compose up   --env-file .env -d --force-recreate